@font-face {
  font-family: "Dreamgirls";
  src: url(/font/dreamgirls.woff);
  font-style: serif;
}

body {
  background-color: #f9f7eb;
}

hr {
  background-color: #f2d091;
}

a {
  color: #654120;
  text-decoration: none;
}

a:hover {
  color: #f2d091;
}

.active {
  font-weight: 600;
}

.josefina {
  color: #654120;
  font-family: "Josefin Slab", serif !important;
}

.img-home {
  display: block;
  margin: 0 auto;
  max-width: 140px;
}

#header {
  color: #654120;
  font-family: Dreamgirls, serif;
  line-height: 70px;
  font-size: 70px;
  text-align: left;
}

@media (min-width: 576px) {
  #header {
    text-align: center;
  }
}
